name: Test

on:
  push:
    branches:
      - main
  merge_group:
  pull_request:
    branches:
      - "**"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref == 'refs/heads/main' && github.run_id || github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

jobs:
  unit:
    name: Unit Tests
    runs-on: ubuntu-latest-16-cores
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - uses: ./.github/actions/unit-test

  isolated-feature-checks:
    name: "Isolated feature checks"
    runs-on: ubuntu-latest-16-cores
    steps:
      - uses: actions/checkout@v5
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
        with:
          save-if: ${{ github.ref == 'refs/heads/main' }}
      - uses: taiki-e/install-action@v2
        with:
          tool: protoc,cargo-hack
      - run: cargo hack --each-feature --all check --all-targets --locked
